* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    --color-brand: #CA3884;
    --color-brand-hover:#A52C6B;
    --color-danger: #C93847;

    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;
}

body {
    background-color: var(--background-primary);
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

label {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 500;
}

a {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
}

button {
    height: 2.75rem;
    padding: 0.625rem 1.5rem;
    border-radius: 12px;
    border-style: none;
    font-weight: 600;
    color: var(--always-white);
    background-color: var(--color-brand);
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: var(--color-brand-hover);
}

input {
    height: 2.75rem;
    border-radius: 12px;
    background-color: var(--background-secondary);
    border-color: var(--color-brand-hover);
    border: solid 2px var(--border-primary);
    padding: 0 1.125rem;
    transition: border 0.2s;
}

input:hover {
    border-color: var(--border-hover);
}

.input-text:focus {
    border: 2px solid var(--color-brand);
    outline: none;
}

input:focus::placeholder {
    color: var(--content-primary);
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 0.75rem;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox span {
    width: 16px;
    height: 16px;
    border: 2px solid var(--border-primary);
    border-radius: 6px;
    box-sizing: border-box;
    position: relative;
}
.custom-checkbox:hover span {
    border-color: var(--border-hover);
}
.custom-checkbox input:checked + span {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
}
.custom-checkbox input:checked + span::after {
    content: "";
    position: absolute;

    left: 50%;
    top: 50%;

    width: 4px;
    height: 8px;

    border: solid #FFF;
    border-width: 0 2px 2px 0;

    transform: translate(-50%, -60%) rotate(45deg);
}
header {
    display: flex;
    justify-content: center;
}

.logo-image {
    margin: 1.563rem 0 0;
}

main {
    /* border: 1px solid red; */
    width: 40%;
    margin: 3.875rem auto 0;
}

a {
    text-decoration: none;
    align-content: center;
    color: var(--color-brand);
    margin-left: 0.25rem;
}

li {
    /* border: 1px solid green; */
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: var(--background-secondary);
    list-style: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    height: 3.063rem;
    align-items: center;
}

.main-title {
    margin: 1rem 0 2.75rem;
}

.input-container form{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.input-container form input {
    flex-grow: 1;
}

.list-container {
    margin: 2.5rem 0 0;
}
li i {
    color: var(--content-tertiary);
    cursor: pointer;
}